@-webkit-keyframes coinset1AnimUpdown {
  0%, 100%{
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
@keyframes coinset1AnimUpdown {
  0%, 100%{
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  50% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}
.coinset1SVG.viewport-active #coinset1 > g{
  -webkit-animation: coinset1AnimUpdown 3.5s ease-in-out forwards infinite;
          animation: coinset1AnimUpdown 3.5s ease-in-out forwards infinite;
}
.coinset1SVG.viewport-active #coinset1 > #coin1{
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}
.coinset1SVG.viewport-active #coinset1 > #coin2{
  -webkit-animation-delay: -0.85s;
          animation-delay: -0.85s;
}
.coinset1SVG.viewport-active #coinset1 > #coin3{
  -webkit-animation-delay: -0.75s;
          animation-delay: -0.75s;
}
.coinset1SVG.viewport-active #coinset1 > #coin4{
  -webkit-animation-delay: -0.65s;
          animation-delay: -0.65s;
}
.coinset1SVG.viewport-active #coinset1 > #coin5{
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s;
}